h2{
  /* font-family: 'RomanticGumi'; */
  font-family: 'Pretendard';
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 0;
}
h3,h4{
  /* font-family: 'MaruBuri'; */
  font-family: 'Pretendard';
}
h5, h6{font-family: 'Pretendard';}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 16px;}
h6{
  font-size: 14px;
  line-height: 22px;
}

.secTit{
  text-align: center;
  padding-top: 100px;
}