h2{
  font-family: 'RomanticGumi';
  font-size: 48px;
  text-transform: uppercase;
  margin: 20px 0;
}
h3,h4{font-family: 'MaruBuri';}
h5, h6{font-family: 'Pretendard';}
h3{font-size: 24px;}
h4{font-size: 20px;}
h5{font-size: 16px;}
h6{
  font-size: 14px;
  line-height: 20px;
}

.secTit{
  text-align: center;
  padding-top: 100px;
}