/* header scroll */
header.load{top: 0;}
header.down{
  height: 80px;
  background-color: #fff;
  border-bottom: 1px solid #d5e4ff;
  top: 0;
  padding-top: 0;
}
.headInnerH{background-color: #fff;}
.headInnerH .logo a img:nth-child(1){display: none;}
.headInnerH .logo a img:nth-child(2){display: block;}

header.down .headInner{
  padding: 10px 200px 0 200px;
}
header.down .headInner .logo a img:nth-child(1){display: none;}
header.down .headInner .logo a img:nth-child(2){display: block;}
.subHeader 

header.down .gnb li a,
.headInnerH .gnb>li>a{
  color: #A4C4FF;
  transition: 0.2s;
}
header.down .gnb>li>a:hover{color: #5d6ec7;}
header.down .gnb>li:hover >a{border-bottom: 2px solid #e0ebff;}
header.down .iconBox a,
.headInnerH .iconBox a
{color: #A4C4FF;}

header.down .iconBox a:hover .fa-solid{
  transform: scale(1.4);
  color: #A4C4FF;
}