
/* header */
.subHeader{position: static;}
.subHeader .logo a img:nth-child(1){display: none;}
.subHeader .logo a img:nth-child(2){display: block;}
.subHeader .gnb li a,
.subHeader .headRight .iconBox a{color: #A4C4FF;}
.subHeader .headRight .iconBox a:hover .fa-solid{color: #5d6ec7;}
.subHeader .gnb>li>a:hover{color: #5d6ec7;}
.subHeader .gnb>li:hover >a{border-bottom: 2px solid #e0ebff;}

/* subVisual */
.subVisual{
  width: 100%;height: 500px;
  background-color: #c8c8c8;
}

.subContainer{width: 100%;height: max-content;}
.subSec{width: 100%;height: max-content;}

.tabmenu .panel>li{display: none !important;}
.tabmenu .panel>li.active{display: block !important;}
/* 섬유유연제 향수컬렉션 */
.tabmenu{color: #333;}

.tabmenu h2{
  text-align: center;
  margin: 80px 0;
  color: #5d6ec7;
}
.tab1{
  display: flex;
  justify-content: center;
}
.tab1 li{
  width: 200px;height: 50px;
  font-size: 18px;
  font-family: 'Pretendard';
  border: 1px solid #ddd;
  border-radius: 10px 10px 0 0 ;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}
.tab1 li.active{background-color: #fbfbfb;
  border-bottom-width: 0;
}
/* tab11 */
.tabInner{
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #fbfbfb;
  padding: 100px 0;
  margin-bottom: 50px;
}
/* gallery 큰이미지 */
.productImg{
  width: 500px;height: 620px;
  overflow: hidden;
  display: none;
  box-shadow: 0 0 4px #8894EE;
}
#tab14 .productImg{box-shadow: 0 0 4px #ffb6d8;}
.productImg.active{display: block;}
.productImg img{height: 100%;}

/* contentWrap 제품컨텐츠 */
.contentWrap{
  height: 620px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px;
  border: solid #ddd;
  border-width: 1px 0;
}
.contentTit{
  font-size: 28px;
  font-family: 'MaruBuri';
  font-weight: 500;
  margin: 8px 0 15px 0;
}
.contentTop h6{
  color: #777;
  font-weight: 300;
}
.productInfo{
  margin: 10px 10px;
  transform: translateY(70px);
}
.content h3{font-weight: 600;}
.content h4{
  margin: 0 0 10px 0;
  color: #555;
}
.content h6{
  color: #777;
  font-weight: 300;
}
.content a{
  display: inline-block;
  background-color: #E8EAFF;
  border: 1px solid #fff;
  color: #333;
  font-size: 11px;
  font-family: 'Pretendard';
  padding: 7px 17px;
  margin-top: 12px;
  border-radius: 20px;
  transition: 0.15s;
}
.content a:hover{
  color: #5d6ec7;
  background-color: #fff;
  border: 1px solid #5d6ec7;
}
.content{display: none;}
.content.active{display: block;}


/* 썸네일 */
.productThumbs{
  display: flex;
  gap: 10px;
}
.thumb{
  width: 80px;height: 100px;
  overflow: hidden;
  opacity: 0.6;
  box-shadow: 0 0 4px #8894EE;
}
#tab14 .thumb{box-shadow: 0 0 4px #ffb6d8;}
#tab14 .thumb.active{border: 2px solid rgb(255, 196, 221);}
.thumb.active{
  opacity: 1;
  border: 2px solid rgba(136, 148, 238, 0.7);
}
.thumb img{height: 100%;}